.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    background-color: #121212;
}

.weather {
    display: grid;
    grid-template-rows: min-content auto;
    padding: 16px;
}

.locationBar {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 14pt;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 16px;
}

.locationIcon {
    margin: 0 12px 0 48px;
}

.backIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 12px;
    box-sizing: content-box;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.1s ease-in-out;

    &:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

.localTime {
    position: absolute;
    top: 16px;
    right: 24px;
    font-family: "Fira Code", monospace;
    color: #7f7f7f;
}

.mainTemp {
    margin-top: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #1e1e1e;
    border-radius: 16px;
}

.mainTempPanel {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;
        font-family: "Fira Code", monospace;
        font-size: 48pt;
        color: #ffffff;

        span {
            font-family: "Fira Code", monospace;
        }
    }
}

.feelsLike {
    font-size: 16pt;
    color: #7f7f7f;
}

.mainTempBoxes {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
}

.forecast {
    padding: 16px;

    h1 {
        padding: 8px 0;
        margin-top: 64px;
        font-weight: 700;
        font-size: 24pt;
        color: #ffffff;
    }
}

.forecastBox {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    overflow-x: auto;
    display: flex;
    gap: 16px;
    background-color: #1e1e1e;
    border-radius: 16px;

    div {
        padding: 16px;
        display: grid;
        grid-row: auto auto auto;
        background-color: #2a2a2a;
        border-radius: 12px;

        p, span {
            text-align: center;
            color: #ffffff;
            font-family: "Fira Code", monospace;
        }

        i {
            width: 100px;
            margin: 16px 0 8px 0;
            text-align: center;
            color: #ffffff;
        }
    }
}

.forecastDate span {
    color: #7f7f7f !important;
}

.forecastTemp {
    font-family: "Fira Code", monospace;
}